body { 
    font-family: Georgia, sans-serif;
    background: url('gambar1.png');
    background-size: cover;
    text-align: center;
}
.title-container {
    background: rgba(147, 158, 147, 0.9);
    color: rgb(19, 19, 19);
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 30px;
}
.container {
    width: 70%;
    margin: auto;
}
.box {
    background: #7f887e;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(221, 214, 214, 0.2);
}
h2, h3, label, p {
    color: #0c0c0c;
}
input, button {
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #245a3d;
}
button {
    background-color: #e6ebe5;
    color: rgb(12, 12, 12);
    cursor: pointer;
}
button:hover {
    background-color: #141414;
}
.hidden {
    display: none;
}
.circle-img {
    width: 125px; /* Sesuaikan ukuran gambar */
    height: 125px; /* Harus sama dengan lebar untuk membuat lingkaran */
    border-radius: 50%; /* Membuat sudut membulat hingga menjadi lingkaran */
    overflow: hidden; /* Memastikan bagian gambar di luar lingkaran tersembunyi */
}